<div>
    <h3 style="padding-bottom: 1em">Demola-projekti</h3>
    <p>
      Olin mukana  <a target="_blank" rel="noopener noreferrer" href="https://www.demola.net/">demola-kurssilla</a>, 
      jossa ajatuksena on tuoda yhteen yritysmaailma, yliopisto ja opiskelijat. Kurssi toimi siten, 
      että demola yhteystyöyritys antoi opiskelijoille jonkin ongelman, joka opiskelijoiden piti ratkaista.</p>
      <img src="https://s3-eu-west-1.amazonaws.com/files.demola.net/images/logos/logo-demola.png" alt="Demola logo">
    <h4>Tehtävä</h4>
      <p>
      Olin mukana ryhmässä, jossa loimme <a target="_blank" rel="noopener noreferrer" href="https://www.demola.net/">Liiteri-palvelulle</a>
      prototyypin markkinointi tarkoituksia varten. Liiteri-palvelulla on ympäri Helsinkiä kontteja, joiden
      seinillä on isot tabletit. Meidän tehtävämme oli luoda noille tableteille jonkinlaista interaktiivista 
      sisältöä.
      </p>
    <h4>Ratkaisu</h4>
      <p>
      Koska Liiteri tarjoaa korjauspalveluita, joiden tunnettuus on melko vähäistä keskityimme niihin. Tarkoituksenamme
      oli siis saada ihmiset kiinnostumaan asioiden korjaamisesta. Perehdyimme korjausliiketoimintaan lukemalla tutkimuksia
      ja tekemällä haastateluja. Osoittautui, että yksi keskeisimmistä syistä jättää asiat korjaamatta, on
      korjauspalveluiden kokeminen vaivalloiseksi. Koska Liiteri tarjoaa eräänlaista 24/7 korjauspalvelua, päätimme
      korostaa markkinoinnin prototyypissä Liiteriä ratkaisuna korjaamisen vaivalloisuuteen. 
      <br/><br/>
      Meidän täytyi kuitenkin ratkaista myös toinen ongelma, joka koski yksilöiden kohtaamaa tietotulvaa. Kuinka saada
      ohikulkijat kiinnittämään huomio tablettiin ja sen tarjoamaan ratkaisuun. Jotta saisimme tietää, kiinnittävätkö
      ihmiset huomioita tablettiin ja reagoivatko he siihen jotenkin, päätimme luoda muutaman animaation, jonka 
      tarkoituksena oli houkutella ohikulkijoita koskettamaan tablettia.
      <br/><br/>
      Animaatioden luominen jäi vastuulleni ja, vaikken aiemmin ollut tehnyt animaatioita, onnistuin luomaan
      kaksi prototyyppiä, joita olisi ollut mahdollista testata myös käytännössä. Valitettavasti tabletteissa
      oli kuitenkin ikävä tyyppivika ja ne reagoivat aurinkoon odottamattomalla tavalla. Emme siis saaneet
      animaatioita näytöille, sillä niitä ei saatu riittävän ajoissa toimimaan.
      </p>
    <h4>Lopputulema</h4>
    <p>
      Vaikkemme lopulta saaneet animaatioita testattua, opin kuitenkin projektityöstä yleisesti hyvin paljon.
      Tiimimme oli monikansallinen ja poikkitieteellinen, mikä oli kiinnostavaa. Henkilökohtaisesti minulle oli hyvä päästä
      työskentelemään ja kommunikoimaan englanniksi ja sain kurssista kaivattua itsevarmuutta.
    </p>
</div>