<h4>Liiteri animaatiot</h4>    
    <i class="material-icons" style="font-size: 32px">web</i><a style="padding-right: 1em" target="_blank" rel="noopener noreferrer" href="https://liiterimap.herokuapp.com/cyclist"><sup> Animaatiot</sup></a> <sup>(ei responsiivisia, suunniteltu 892x1517 -tabletille )</sup><br/>
    <i class="material-icons" style="font-size: 32px">code</i><a target="_blank" rel="noopener noreferrer" href="https://github.com/pidrmasiin/liiteriDnD"><sup> Github</sup></a><br/>
    
    <p>
      Kaksi animaatiota, jotka on toteutettu React-paketteja hyödyntäen. Molemmissa on käytetty NodeJS:ää palvelinpuolella
      ja reduxia selainpuolen tilanhallinnassa. Toisessa käytin react-dnd tarjoamia komponentteja 
      ja loin simppelin "vedä ja pudota" -toiminnallisuuden. Jouduin myös käyttämään react-dnd-touch-backend -paketin
      tarjoamia komponenttaja, sillä animaatiot tehtiin yrityksen mainostablettia varten. 
      <br/><br/>
      Toisessa animaatiossa käytin GreenSock Animation Platform:n gsap-pakettia ja react-lottie -pakettia, joiden
      avulla loin simppelin pyöräilijä animaation. Paketteja ei ole käytetty aivan optimaalisella tavalla ja käytännössä
      hyödynsinkin lähinnä setTimeout() metodia ja Reactin routeria. Routeriakaan ei tosin ole käytetty aivan 
      parhaalla mahdollisella tavalla. 
      <br/><br/>
      Animaatiot ovat itsenäisen työn tulos ja apu olisi varmasti helpottanut työtä. Opin kuitenkin paljon
      ja seuraavalla kerralla ohjelmointi jälkikin on varmasti siistimpää. Ohjelmoinnin lisäksi opin -projektissa
      myös paljon yleistä startup-yrityksen ja monikansallisten tiimien toiminnasta. Demola -projektista lisää 
      täällä.
    </p>