<div>
  <h3 style="padding-bottom: 1em">Java</h3>
  <ul>
      <li>Spring Boot</li>
        <ul style="list-style-type:circle">
          <li>Spring Data JPA</li>
        </ul>
      <li>H2 Database</li>
        <ul style="list-style-type:circle">
          <li>SQL</li>
        </ul>
      <li>Thymeleaf</li>
    </ul>
  <p>
    Java toimii Helsingin yliopiston peruskurssien ohjelmointikielenä ja olenkin opetellut
    ohjelmoimaan Javalla. Java on myös kieli, jota olen käyttänyt ehkä eniten. Java web-ohjelmoinnissa 
    olen käyttänyt apuna Spring Boot -sovellukehystä. 
  <h4>Uutissovellus</h4> 
    <i class="material-icons">web</i><a style="padding-right: 1em" target="_blank" rel="noopener noreferrer" href="https://uutista.herokuapp.com/"><sup> Sovellus</sup></a>
    <i class="material-icons">code</i><a target="_blank" rel="noopener noreferrer" href="https://github.com/pidrmasiin/uutiset"><sup> Github</sup></a><br/>
    <p>
    Olen tehnyt uutissovelluksen osana web-palvelinohjelmointi -kurssia. Uutissovelluksen ohjelmoinnissa apuna ovat toimineet Spring Boot, 
    Thymeleaf ja H2-tietokantamoottori. Käytössä oli relaatiotietokanta, johon oliot tallennettiin Spring Data JPA:n avulla. 
    Lisäksi kurssilla käytiin pintapuolisesti läpi Travisia ja Seleniumia testaamisen 
    apuvälineinä. Ulkoasu on tehty Bootstrapin avulla.  <br/>
  </p>
  <h4>Kortinlaskija</h4>    
  <i class="material-icons">code</i><a target="_blank" rel="noopener noreferrer" href="https://github.com/pidrmasiin/holdemHelp"><sup> Github</sup></a><br/>
  <p>
    Ensimmäinen hieman laajempi ohjelmani. Kyseessä on työpöytäsovellus, 
    joka laskee suhteita voitolle hold'emissä, kun vastustajan käsi arvataan. Ohjelman testauksessa käytettiin 
    JUnit -testejä. <br/>
  </p>
</div>
