    <div>
      <h3 style="padding-bottom: 1em">Hei,</h3>
      <p>
            Olen 29-vuotias helsinkiläinen ja opiskelen Helsingin yliopistossa valtiotieteellisessä tiedekunnassa. 
            Opintoni ovat loppusuoralla ja tutkinnostani uupuu enää 
            pro gradu -tutkielman viimeistely sekä pari kurssia. 
            Sivuaineina olen lukenut tietojenkäsittelytiedettä ja taloustiedettä. 
            Tietojenkäsittelytieteen opintojen myötä olen innostunut ohjelmoinnista, 
            joten nyt haen työtä alalta.
      </p>
      <h4 style="padding-bottom: 0em">Osaaminen</h4> 
      <p>
          Olen suorittanut noin 60 opintopistettä tietojenkäsittelystä, jonka lisäksi olen 
          opiskellut ohjelmointia omatoimisesti. Näillä sivuilla avaan osaamistani kertomalla
          tekemistäni harjoitustöistä ja esitelemällä omia projektejani. Ohjelmointikielistä 
          parhaiten minulla on hallussa <a routerLink="/javascript">Javascript</a> ja
          <a routerLink="/java">Java</a>.
      </p>
      <table class="table">
            <thead>
              <tr>
                <th scope="col">Kieli</th>
                <th scope="col">Tekniikka</th>
                <th scope="col">Esimerkki</th>
                <th scope="col">Github</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Javascript</td>
                    <td>React/NodeJS</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://vaalitback.herokuapp.com"><i class="material-icons" style="font-size: 32px">code</i></a></td>
                    <td><a target="_blank" href="https://vaalitback.herokuapp.com"><i class="material-icons" style="font-size: 32px">web</i></a></td>
                    
                </tr>
                <tr>
                    <td>Angular2</td>
                    <td>Nämä sivut</td>
                    <td><a target="_blank" rel="noopener noreferrer" href="https://vaalitback.herokuapp.com"><i class="material-icons" style="font-size: 32px">code</i></a></td>
                </tr>
                <tr>
                    <td>Java</td>
                    <td >Spring Boot</td>
                    <td colspan="2"><a target="_blank" rel="noopener noreferrer" href="https://vaalitback.herokuapp.com"><i class="material-icons" style="font-size: 32px">code</i></a></td>
                </tr>
                <tr>
                    <td>SQL</td>
                    <td >PostgreSQL</td>
                    <td colspan="2"><a target="_blank" rel="noopener noreferrer" href="https://vaalitback.herokuapp.com"><i class="material-icons" style="font-size: 32px">code</i></a></td>
                </tr>
                <tr>
                    <td colspan="2">PHP</td>
                    <td colspan="2"><a target="_blank" rel="noopener noreferrer" href="https://vaalitback.herokuapp.com"><i class="material-icons" style="font-size: 32px">code</i></a></td>
                </tr>
        </tbody>
    </table>
      <h4>Työhistoria</h4>    
      <p>
          Tällä hetkellä työskentelen iltavahtimestarina Kinaporin palvelutalossa. 
          Lisäksi työskentelen Kivenlahden Starkilla, jossa olen työskennellyt osa-aikasena 
          noin kuuden vuoden ajan. Työhistoriani koostuukin pääasiassa varasto- 
          ja asiakaspalvelutyöstä. Olen kuitenkin suorittanut myös niin sanotun työelämäkurssin, jonka puitteissa
          tein eräälle yritykselle prototyypin javascript-animaatiosta. Projektista lisää täällä.
      </p>
    </div>


